{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">ATUALIZA ESTOQUE</h2>
<hr>
{%- for mensagem in get_flashed_messages() %}
<div class="alert alert-danger">
	{{mensagem}}
</div>
{%- endfor %}
<form action="{{url_for('atualiza_estoque', id=produto.id)}}" method="POST" class="form-control">
	<label>DESCRIÇÃO</label>
	<input class="form-control" name="descricao" value="{{produto.descricao}}" required>
	<label>QUANTIDADE</label>
	<input class="form-control" type="number" value="{{produto.quantidade}}" name="quantidade" required>	
	<label>VALOR</label>
	<input class="form-control" type="number" value="{{produto.valor}}" name="valor" required>
	<button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}