{% extends 'base.html' %}
{% block conteudo %}
<h1 style="text-align: center; margin: 30px 0px;">ADICIONAR ESTOQUE</h1>
<hr>
{%- for mensagem in get_flashed_messages() %}
<div class="alert alert-danger">
	{{mensagem}}
</div>
{%- endfor %}
<form action="{{url_for('cria_estoque')}}" method="POST" class="form-control">
	<label>DESCRIÇÃO</label>
	<input class="form-control" type="text" name="descricao" placeholder="Descrição" required>
	<label>QUANTIDADE</label>
	<input class="form-control" type="number" name="quantidade" placeholder="Quantidade" required>
	<label>VALOR</label>
	<input class="form-control" type="number" min="1" step="any" name="valor" placeholder= "Valor"  required>
	<button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}