{% extends 'home.html' %}
{% block content %}
<h1 style="text-align: center;">EMPRESA</h1>
<hr>
<br>
<table class="table table-bordered table-hover" style="text-align: center;">
	<thead class="table-dark">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">NOME DA EMPRESA</th>
			<th scope="col">CNPJ/CPF</th>
			<th scope="col">ENDEREÇO</th>
			<th scope="col">DATA CADASTRO</th>
		</tr>
	</thead>
	<tbody>
		{% for dados in dados.items %}
		<tr>
			<td>{{dados.id}}</td>
			<td>{{dados.nome_empresa}}</td>
			<td>{{dados.cnpj_cpf}}</td>
			<td>{{dados.endereco}}</td>
			<td>{{dados.data_cadastro}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<td>
	<a href="/cria_empresa" class="btn btn-primary">EDITAR</a>
</td>


{% endblock content %}