{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Dashboard</h2>
<hr>
<main style="display: inline-grid; grid-template-columns: auto auto auto auto; width:100%;">
    <div style="width: 99%; background-color: whitesmoke; border-top: 3px solid blue;">
        <h3 style="text-align: center;">DÉBITO<br><span>💰</span></h3>
        <input type="number"
            style="text-align: center; width: 100%;font-size: 30px; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background-color:whitesmoke ;"
            placeholder="R$ 970,00" id="valorCaixa">
        <details style="position: absolute; font-size: 13px; width: 5px;"><summary></summary>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</details>
    </div>

    <div style="width: 99%; background-color: whitesmoke; border-top: 3px solid green;">
        <h3 style="text-align: center;">VENDAS<br><span>💹</span></h3>
        <input type="number"
            style="text-align: center; width: 100%;font-size: 30px; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background-color:whitesmoke ;"
            placeholder="R$ 970,00" id="valorCaixa">
            <details style="position: absolute;">valor referentevalor referentevalor referentevalor referentevalor referentevalor referentevalor
                referentevalor referentevalor referentevalor referente</details>
    </div>

    <div style="width: 99%; background-color: whitesmoke; border-top: 3px solid orange;">
        <h3 style="text-align: center;">COMPRAS<br><span>🛒</span></h3>
        <input type="number"
            style="text-align: center; width: 100%;font-size: 30px; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background-color:whitesmoke ;"
            placeholder="R$ 970,00" id="valorCaixa">
            <details style="position: absolute;">valor referentevalor referentevalor referentevalor referentevalor referentevalor referentevalor
                referentevalor referentevalor referentevalor referente</details>
    </div>

    <div style="width: 100%; background-color: whitesmoke; border-top: 3px solid red;">
        <h3 style="text-align: center;">TOTAL<br><span>⚖️</span></h3>
        <input type="number"
            style="text-align: center; width: 100%;font-size: 30px; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background-color:whitesmoke ;"
            placeholder="R$ 970,00" id="valorCaixa">
            <details style="position: absolute;">valor referentevalor referentevalor referentevalor referentevalor referentevalor referentevalor
                referentevalor referentevalor referentevalor referente</details>
    </div>
</main>

{% endblock conteudo %}